.ticket-page {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.ticket-page__title {
}

.ticket-page__text {
  font-size: calc(10px + 2vmin);
  line-height: 4rem;
}
